$primary: #c32c72;
$secondary: #8d8d8d;
$light: #f4f3ee;
$dark: #262626;

$body-bg: #e5e5e5;

$navbar-light-active-color: $primary;
$navbar-light-brand-color: $dark;

$card-height: 255px;

h1 {
    padding: 30px;   
}




