html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    
    background-color: $light;
    padding: 1rem 0;

    & .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            display: block;   
            text-align: center;
        }
    }

    & a {
        color: $dark;
    } 
}

.wrapper {
    flex: 1 0 auto;
}

h1 {
    padding: 30px;   
}
